@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome PWA Notes App</h1>
    <p>PWA Notes app can be used as a reference implementation for building progressive web apps using Microsoft ASP.NET Core. For more information and to download the soure, please visit <a href="https://github.com/tanveery/pwa-notes-app">https://github.com/tanveery/pwa-notes-app</a>.</p>
</div>
