@{
    ViewData["Title"] = "Offline";
}

<div class="text-center">
    <div class="alert alert-warning">
        <p><strong>You Are Currently Offline</strong></p>
        <p>
            You cannot access the requested page because you are currently offline. The app supports offline access to some pages that you have visited in past while online. Either you have not visited the page before or the page doesn't support offline access. Please try again later.
        </p>
    </div>
</div>
