@model PWANotesApp.Web.ViewModels.IndexNoteViewModel

@{
    ViewData["Title"] = "Delete Note";
}

<h1>Delete Note "@Model.Title"</h1>
<hr/>
<p>Deleting a note is a permanent action and cannot be undone. Are you sure you want to delete the note <strong>@Model.Title</strong>?</p>
<hr />
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-dark">Cancel</a>
    </form>
</div>
